<!doctype html>
<html lang="en" ng-app="ura">
<head>
  <meta charset="utf-8">
  <title>Auth</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="lib/angular/angular.js"></script>
  <script src="js/ctrl.js"></script>

</head>
<body>

<script>
    angular.module('ura', []);


</script>

<div ng-controller="Ctrl" ng-model="authResponse">

   Rest API Url: <input type="text" name="apiurl" ng-model="apiurl" required>
   <br> <br>

   Username: <input type="text" name="username" ng-model="username"required>
   <br> <br>

   Password: <input type="text" name="password" ng-model="password" ng-minlength="3" ng-maxlength="40" required>
   <br> <br>

   <button id="Authorize" ng-click="authorize()">Authorize</button><br>

    <br>

    <pre>Access Token: {{authResponse.accessToken}}</pre>
    <pre>Refresh Token: {{authResponse.refreshToken}}</pre>

    <hr>

    <div>
        <button id="Get Status" ng-click="makeAuthorizedRequest('/status', 'GET')">Get Status</button><br>
        <br>
        <pre>Status: {{generalResponse.message}}</pre>
    </div>
    <hr>

    <div>
        <button id="Get Version" ng-click="makeRequest('/version', 'GET')">Get Version</button><br>
        <br>
        <pre>Version: {{generalResponse.version}}</pre>
    </div>

    <hr>

    <div>
        Zonename: <input type="text" name="name" ng-model="zone.properties.name" required>
        <br> <br>

        Account Name: <input type="text" name="accountName" ng-model="zone.properties.accountName" required>
        <br> <br>

        <pre>Zone JSON: {{zoneJson}}</pre>

        <button id="Create Primary Zone" ng-click="createZone()">Create Primary Zone</button><br>
        <br>
        <pre>Response: {{generalResponse.message}}</pre>
    </div>

</div>
</body>
</html>
